fastapi
uvicorn[standard]
sqlalchemy>=2.0.0
asyncpg
psycopg2-binary
alembic
pydantic
pydantic-settings
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
python-multipart
google-generativeai
google-genai
authlib
httpx
pymupdf
itsdangerous
